 
.container{

    font-family: Arial, Helvetica, sans-serif ;
    text-decoration: none;
    border-top: 2px solid rgb(202, 199, 199);
    text-align: end;
    
}
.logocdmx{
    display: flex;
    text-align: left;
    height: 67px;
    width: 215px;
}

.links{
    color: #104c42;
    text-decoration: none;
    height: 45px;
    width: 306px;
    padding: 16.5px;
    font-weight: bold;
}
.container2{
    background-image: url(imagen/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255); 
    display: grid; 
    gap: 5px;
    grid-template-rows: 42px 42px 106px 42px;
    grid-template-columns: 219px 141px 420px; 
    text-align: left;
    font-size: 25px;
    padding: 100px;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 1320px;
    font-weight: 700;

}
.grid1{
    grid-column: 1/4;
    grid-row: 1/2;
}
.grid2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.grid3{
grid-row: 2/4;
grid-column: 3/4 ;
font-weight: bolder;
font-size: 65px;
align-content: center;
align-items: center;
}
.grid4{
    grid-column: 3/4;
    grid-row: 4/5;
    font-weight: 28px;
    fon
}

.container3{
   color: #b08f5c;
   text-align: center;
}